.config/YouTube*Music*Desktop*App/
.config/dconf/
.config/environment.d/
.config/fontconfig/
.config/gtk-3.0/
.config/gtk-4.0/
.config/nemo/
.config/nixpkgs/
.config/paulse/
.config/systemd/
.config/unity3d/
.config/uwsm/
.config/waypaper/
.config/wireshark/
.config/yazi/
.config/blender/
