@import url('../../.themes/waybar.css');

* {
  font-family: "DepartureMono Nerd Font Propo", monospace;
  border-radius: 15px;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background: @background;
}

.notification-row {
  outline: none;
  margin: 0;
  padding: 0;
}

.notification,
.notification-content,
.notification-action,
.notification-default-action,
.inline-reply-entry,
.inline-reply-button,
.widget-title,
.widget-title>button,
.widget-dnd,
.widget-dnd>switch,
.widget-dnd>switch slider,
.widget-label>label,
.widget-buttons-grid,
.widget-buttons-grid>flowbox>flowboxchild>button,
.widget-volume,
.widget-backlight,
.widget-mpris,
.widget-mpris>box>button,
.widget-mpris-player,
.widget-mpris-album-art {
  border-radius: 15px;
}

.notification {
  background: @background;
  border: 2px solid @border;
  opacity: 0.9;
  margin: 3px -2px 3px 0;
}

.close-button {
  background: @background;
  color: @border;
  text-shadow: none;
  padding: 0;
  margin-top: 5px;
  margin-right: 5px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  border: none;
}

.notification:hover .close-button {
  opacity: 1;
}

.close-button:hover {
  background: @border;
  box-shadow: none;
  transition: all 0.15s ease-in-out;
}

.notification-action {
  border: 2px solid @border;
  border-top: none;
}

.notification-default-action:hover,
.notification-action:hover {
  color: @border;
  background: @background;
}

.inline-reply-entry {
  background: @background;
  color: @border;
  caret-color: @foreground;
  border: 1px solid @border;
}

.inline-reply-button {
  margin-top: 4px;
  margin-left: 4px;
  background: @background;
  border: 1px solid @border;
  color: @border;
}

.inline-reply-button:disabled {
  background: transparent;
  color: @foreground;
  border: 1px solid transparent;
}

.inline-reply-button:hover {
  background: @background;
}

.summary {
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  color: @border;
  text-shadow: none;
}

.time {
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  color: @foreground;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 15px;
  font-weight: 400;
  background: transparent;
  color: @foreground;
  text-shadow: none;
}

.control-center {
  background: @background;
  opacity: 0.85;
  border: 2px solid @border;
}

.widget-title {
  color: @border;
  background: @background;
  padding: 5px 10px;
  margin: 10px;
  font-size: 1.5rem;
}

.widget-title>button {
  font-size: 1rem;
  color: @foreground;
  background: @background;
  box-shadow: none;
}

.widget-title>button:hover {
  background: @border;
  color: @Background;
}

.widget-dnd {
  background: @background;
  padding: 5px 10px;
  margin: 5px 10px;
  font-size: large;
  color: @border;
}

.widget-dnd>switch {
  background: @border;
  border-radius: 0;
}

.widget-dnd>switch:checked {
  background: @border;
  border: 1px solid @border;
}

.widget-label>label {
  font-size: 1rem;
  color: @foreground;
  margin: 10px;
}

.widget-buttons-grid {
  font-size: large;
  padding: 5px;
  margin: 10px;
  background: @background;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  margin: 3px;
  background: @background;
  color: @foreground;
  border: 2px solid @border;
  transition: background-color 0.15s ease-in-out;
  box-shadow: none;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: @border;
  color: @background;
}

.widget-buttons-grid>flowbox>flowboxchild>button:checked {
  background: @border;
  color: @background;
}

.widget-volume,
.widget-backlight {
  background: @background;
  padding: 5px;
  margin: 5px 10px;
  font-size: 2rem;
  color: @border;
}

.widget-mpris {
  color: @foreground;
  background: @background;
  padding: 5px 10px;
  margin: 5px 10px 5px 10px;
  box-shadow: none;
}

.widget-mpris>box>button,
.widget-mpris-player,
.widget-mpris-album-art {
  border-radius: 15px;
  box-shadow: none;
  padding: 5px 10px;
  margin: 10px 0 0 0;
}
